<header class="header">
  <div class="header-headline">
    <h1 class="title">Omnibees</h1>
    <p class="subtitle">senior frontend test</p>
  </div>

  <div>
    <a class="header__button button" href="javascript:void(0)" (click)="logout()"
      >SAIR</a
    >
  </div>
</header>

<section class="repos">
  <ul class="repos-list">
    <li class="repos-list__item">
      <span class="repos__initial">N</span>
      <p class="repos__name">nome do repositórios</p>
      <div class="repos-details">
        <span class="repos-details__item"><b>17.405.43</b> forks</span>
        <span class="repos-details__item"><b>17.405.43</b> stars</span>
        <a
          class="repos-details__button button"
          href="javascript:void(0)"
          (click)="logout()"
          >acessar</a
        >
      </div>
    </li>
  </ul>
</section>
