@import "_variables";

.header {
  background: $primary-color;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: row;

  &-headline {
    padding: 20px 2em;
  }

  &__button {
    margin: 30px 2em;
  }
}

.repos {
  &-list {
    padding: 0 2em;

    &__item {
      text-align: center;
      padding: 15px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
  }

  &__initial {
    border-radius: 100%;
    background: $secondary-color;
    margin: 0 auto;
    width: 24px;
    display: flex;
    height: 24px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 0.75rem;
  }

  &__name {
    padding: 10px 0;
    font-size: 1.25rem;
    font-weight: 100;
  }

  &-details {
    &__item {
      padding: 5px 0;
      font-size: 1.12rem;
      font-weight: 100;
      margin: 0 15px;
      display: block;

      b {
        font-weight: 700;
      }
    }

    &__button {
      margin-top: 5px;
      display: inline-block;
    }
  }
}

@media screen and (min-width: 1024px) {
  .repos {
    &-list {  
      &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: left;
      }
    }
  
    &__initial {
      margin: initial
    }
  
    &__name {
      padding: initial;
      padding-left: 15px;
      flex: 1;
    }
  
    &-details {
      &__item {
        padding: initial;
        margin: 0 15px;
        display:inline-block;
      }
  
      &__button {
        margin: initial;
        margin-left: 15px;
      }
    }
  }
}
